{% extends 'catalog/base.html' %}
{% load custom_tags %}

{% block content %}
<div class="row">
    <h2 class="text-center mt-3 mb-5">MRROBOT!</h2>
</div>
<div class="container">
    <div class="row">
        {% for object in object_list %}
        <div class="col-3 mt-3">
            <div class="card" style="width: 18rem;">
                <img src="{{ object.preview|mediapath }}" class="card-img-top" alt="...">
                <div class="card-body bg-light">
                    <h5 class="card-title">{{ object.name|upper }}</h5>
                    <p class="card-text">{{ object.description|slice:":100" }}...</p>
                    <a href="{% url 'catalog:product' object.pk %}" class="btn btn-success">ПЕРЕЙТИ</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}