{% extends 'catalog/base.html' %}

{% block content %}
<div class="container mt-4">
    <div class="row">
        <div class="col-4"></div>
        <div class="col-5">
            <h1>ЗАПОЛНЕНИЕ ТОВАРА</h1>
        </div>
    </div>
</div>
<div class="container mt-4">
    <div class="row">
        <div class="col-4"></div>
        <div class="col-4">
            <form class='card p-3 bg-white' method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-primary mt-5">ДОБАВИТЬ ТОВАР</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}